# Emacs
*~
#*
.#*

# dirctories
old/
supplement/

# automated_voting
src/automated_voting/automated_voter.py
src/automated_voting/crontab_generater.py


# Data
data/参考資料
data/analysis
data/deadline_time
data/results_odds
data/results_race/crawled
data/results_voting
data/simulation

# Other
.DS_Store

# pycharm
.idea/
__pycache__/

# jupyter notebook
.ipynb_checkpoints/

# Spyder
.spyproject/